.followBtn {
  border: 2px solid #714de1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: white;
  color: #714de1;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  justify-items: center;
  width: 130px;
  font-weight: 600;
  font-size: medium;
  align-items: center;
}

.followBtn:hover {
  background: #714de1;
  color: white;
}

.followingBtn {
  border: 2px solid #714de1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #714de1;
  color: white;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  justify-items: center;
  width: 130px;
  font-weight: 600;
  font-size: medium;
  align-items: center;
}

.followingBtn:hover {
  background: #6740df;
}


.btn {
  background: #714de1;
}

.btn:hover {
  background: #6740df;
}

.icon {
  color: #714de1;
}

.icon:hover {
  color: #6740df;
}

.btn-disable {
  background: #866adb;
  pointer-events: none;
}

.msgBtn {
  border: 2px solid #714de1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #714de1;
  color: white;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  justify-items: center;
  width: 130px;
  font-weight: 600;
  font-size: medium;
  align-items: center;
}

.msgBtn:hover {
  border: 2px solid #6740df;
  background: #6740df;
}


.circlegalleryright {
  margin: 0px;
  padding: 0px;
  right: 75px;
  font-family: inherit;
  font-size: 1.8rem;
  line-height: inherit;
  font-weight: 500;
  overflow: visible;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  -webkit-text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: 1px solid #6A6A7C;
  background: #ffffffde;
  box-shadow: lightgrey 0px 4px 8px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.iconin {
  width: 3em;
  height: 3rem;
  display: inline-block;
  font-size: inherit;
  padding: 1px;
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
  .followBtn {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .followingBtn {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}