.sale {
    position: relative;
    display: inline-block;
    background: orange;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    margin: 45vh 45vw;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    -webkit-animation: beat 1s ease infinite alternate;
}

.sale::after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}

.sale::before {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}

.sale::after {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

/* &:before,
&:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
} */

/* &:after {
    transform: rotate(60deg);
}
} */

@keyframes beat {
    from {
        transform: rotate(-20deg) scale(1);
        -webkit-transform: rotate(-20deg) scale(1);
        -moz-transform: rotate(-20deg) scale(1);
        -ms-transform: rotate(-20deg) scale(1);
        -o-transform: rotate(-20deg) scale(1);
    }

    to {
        transform: rotate(-20deg) scale(1.1);
    }
}