/* .amount{
    font-size: 2rem;
    font-weight: bold; 
}
@media (max-width:640px) {
    .amount{
    font-size: 1.5rem;
    font-weight: 500; 
    }
} */
.horizontal-line:before{
    content: "";
    position: absolute;
    left: 0px;
    top:50%;
    transform: translateY(-50%);
    width: 45%;
    /* border: 1px solid black; */
    height: 1px;
    background:gray;
}
.horizontal-line:after{
    content: "";
    position: absolute;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
    width: 45%;
    /* border: 1px solid black; */
    height: 1px;
    background:gray;
}
.messages-container{
    height: 88vh;
}
.max-height-screen{
    height: calc(100vh - 4.5rem);
}
.custom-classes{
  color: #f2f2f2;
}
.custom-width{
    width: 50%;
}
@media screen and (max-width:668px) {
    .custom-width{
        width: 100%;
    }
    
}