.share-modal-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #d1d3d4;

}

.share-modal-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

.share-modal-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}