.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 0px solid rgba(173, 173, 173, 0.2);
}

.sidebar {
  background-color: #714de1;
  width: 100%;
  height: auto;
  top: 0;
  position: sticky;
}

.Content {

  /* margin-left: 250px; */
  height: 100%;
  width: 100%;
  overflow-x: auto;
}


.sidebar-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #666565;
}

.icons:hover {
  object-fit: fill !important;
  color: #714de1 !important;
}

/* old */
/* .sidebar-item {
  color: white;
}

.sidebar-item:hover {
  color: #714de1;
  background: white;
} */

/* new */
.navbar-item {
  color: white;
}

.navbar-item:hover {
  color: #714de1;
  background: white;
}


.sidebar-dropdown-item {
  color: #714de1;
}

.sidebar-dropdown-item:hover {
  color: white;
  background: #714de1;
}

@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }

  .Content {
    margin-left: 0%;
  }
}