.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 0px solid rgba(173, 173, 173, 0.2);
}

.sidebar {
  background-color: #714de1;
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 20px;
}

.content {
  margin-left: 250px;
  height: 100%;
  width: 100%;
}

.icons:hover {
  object-fit: fill !important;
  color: #714de1 !important;
}
