select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* .bannerImg {
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 50px;
  max-height: 70vh !important;
} */

/* @media only screen and (max-width: 1200px) {
  .bannerImg {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }
}  */
