.video-wrapper {
    height: 192px;
    width: 100%;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.detail-page-video-wrapper {
    height: 70vh;
    width: 100%;
}

.suggestion-video-wrapper {
    height: 130px;
    width: 100%;
}

.share-modal-video-wrapper {
    height: 250px;
    width: 100%;
}

.video {
    padding-top: 0% !important;
}

.video-react.video-react-fluid {
    width: 100%;
    padding-top: 0px !important;
    max-width: 100%;
    height: 100% !important;
}

.video-react .video-react-poster {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #000000;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}


.video-react .video-react-video {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}